@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


/* shared styles start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
     font-family: "Inter", sans-serif;
     background-color: #000000;
}
.miama {
    font-family: 'Miama', sans-serif;
}
.max-width {
    max-width: 1060px;
    margin: 0 auto;
}
.none-pc {
    display: none;
}
.btn {
    background-color: #E6533C;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 46px;
    border: none;
    border-radius: 42px;
    cursor: pointer;
}
/* shared styles end */

/* navbar styles start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
    margin-bottom: 32px
}
nav h2 {
    color: #E6533C;
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 120%;
}
nav ul {
    display: flex;
    gap: 47px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px 20px 5px 5px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
}
#home {
    background-color: #E6533C;
    padding: 8px 18px;
    border-radius: 46px;
}
.hamburgur {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
/* navbar styles end */

/* banner section styles start */
.banner {
    display: flex;
    gap: 167px;
    align-items: center;
    margin-bottom: 30px;
}
.banner-text h2 {
    max-width: 520px;
    color: #FFFFFF;
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 28px;
}
.banner-text h2 span {
    font-weight: 400;
}
.banner-text p {
    max-width: 520px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 28px;
}
.btn-2 {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-left: 14px;
}

.banner-image img {
}
.video-play {
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: -175px;
    left: -50px;
    /* margin-top: -175px; */
}
.video-play-icon {
    border-radius: 50%;
    background-color: #E6533C;
    padding: 5px;
    margin-right: 8px;
}
.video-play-text h2 {
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}
.video-play-text p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.video-count {
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -572px;
    left: 200px;
}
.video-count h2 {
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 5px;
}
.video-count p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 20px;
}
.w {
    color: #FFFFFF;
}
/* banner section styles end */

/* habits sectiion styles start */
.habits {
    text-align: center;
    margin-bottom: 58px;
}
.habits h2 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 14px;
}
.habits p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    max-width: 555px;
    margin: 0 auto;
}
.habits-cards{
    display: flex;
    margin-top: 58px;
}
.habits-card img {
    border-radius: 50%;
}
.habits-card h2 {
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
    margin-top: 30px;
    margin-bottom: 6px;
}
.habits-card p  {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}
/* habits sectiion styles end */


/* mobile section styles start */
@media screen  and (max-width: 567px) {
    body {
        padding: 0 15px;
    }
    .none-mobile {
        display: none;
    }
    .hamburgur {
        display: block;
        color: #FFFFFF;
    }
    .banner,
    .habits-cards
    {
        flex-direction: column;
    }
    .video-play {
        left: -30px;
    }
    .video-count {
        left: 170px;
    }
    .btn-2 {
        margin-left: 0;
        margin-top: 14px;
    }
    .habits-card p {
        padding: 0 80px;
        margin-bottom: 40px;
    }
    
}
/* mobile section styles end */